*{
	margin:0px;
	padding: 0px;
	font-size: 15px;
}

body{
	background-color: #F4F4F4;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}
.logo{

		padding: 0px;

}


h1{
	color: #010101;
	font-size: 42px;
	font-weight: bold;
	font-weight: 600;
}

h2, h3{
	color: #010101;
	text-align: center;
	font-size: 21px;
	font-weight: 500;
}

div{
	.bold{
		font-size: 22px;
		font-weight: bold;
		font-weight: 600;
	}
	#botonDiv{
		letter-spacing: 1px;
		padding: 10px;
		background-color: #FF64C2 !important;
		color: white;
		
		border: #FF64C2 1px solid;
		border-radius: 13px;
	}
	.card-header{
		letter-spacing: 1px;
		padding: 10px;
		background-color: #FF64C2 !important;
		color: white;
		
		border: #FF64C2 1px solid;
		border-radius: 13px !important;
	}
	div{
		div{
			div{
				div{
					button{
						letter-spacing: 1px;
						padding: 10px;
						background-color: #FF64C2 !important;
						color: white;
						margin: 3px;
						border: #FF64C2 1px solid;
						border-radius: 13px !important;
					}
				}
			}
		}
	}
}

div{
	.boton{
		padding-left:10px;
		padding-right:10px;
		background-color: #FF64C2;
		letter-spacing: 1px;
		margin: 3px;
		border-radius: 13px;
			a{
				color: #f4f4f4;
		}
	}
	.botonn{
		padding-left:10px;
		padding-right:10px;
		background-color: #f4f4f4;
		letter-spacing: 1px;
		margin: 3px;
		border: #FF64C2 1px solid;
		border-radius: 13px;
			a{
				color: #FF64C2;
		}
	}
}

.card{
	border-radius: 13px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		.card-header{
			border-radius: 13px !important;
			background-color: #FF64C2;
			color: #f4f4f4;
		}
		.list-group{
		color: #010101;
		max-height: 260px;
		}
}

.horarios{
	margin-top: 20px;
}

form{
	
	width: 300px;
	height: auto;
}

.texto-f{
	letter-spacing: 1.5px;
	padding:50px;
	font-weight: 500;
}


//medias queries //
@media screen and (min-width: 320px) and (max-width: 736px){
	div{
		.card-header{
			padding:2px;
		}
	}

	.logo{
		width: 150px;
		margin-bottom: 10px;
	}
	.navbar-nav{
		display:flex;
		align-items: flex-end;
	}

	.nav-item{
		width:40%;
	}

	h1{
	color: #010101;
	font-size: 20px;
	font-weight: bold;
	font-weight: 600;
}
	h2, h3{
		color: #010101;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
}	
	.horarios{
		.bold{
		font-size:20px;
	}
}
	
	section{
		img{
			margin:auto;
			margin-top: 10px;
			width:400px;
		}
		.texto-f{
			margin: 5px;
			font-size: 14px;
			margin:auto;
			text-align:center;
			letter-spacing:1.5px;
			padding:0px;
			font-weight: 500;
		}
	}

	footer{
		margin-top:45px;
		img{
			width:20px;
		}
	}
	
	

}

@media screen and (min-width: 768px) and (max-width: 1023px){
	h1{
	color: #010101;
	font-size: 32px;
	font-weight: bold;
	font-weight: 600;
}

	#section {
		margin-top: 30px;
	}

	footer{
		margin-top: 30px;
	}
}